{% extends 'AlzWebBundle::layout.html.twig' %}

{% block title %}{{ "Preguntas frecuentes del programa de facturación"|trans }}{% endblock %}

{% block content %}
<div id="faqs">
    <div class="page-header">
      <h1>{{ "Preguntas frecuentes"|trans }}</h1>
    </div>

    <div class="faq">
        <h2>{{ "¿El programa de facturación es gratis?"|trans }}</h2>
        <p>{{"Sí, sólo te tienes que registrar para crear tu usuario. Una vez que hayas validado tu cuenta de correo podrás empezar a usar el programa de facturación y crear tus facturas."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Qué beneficios tengo con el programa gratuito?"|trans }}</h2>
        <p>{{"La cuenta gratuita de sisfacturacion.com te permite disfrutar de todos los beneficios necesarios para generar y enviar  facturas personalizadas a tus clientes. Además, cada vez que generes una factura a un nuevo cliente, el sistema guardará sus datos para facilitar la próxima facturación."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Cómo envío las facturas a mis clientes?"|trans }}</h2>
        <p>{{"El envío de las facturas es muy sencillo. Una vez que emitas la factura, podrás descargarla en formato PDF y adjuntarla en un mail a tus clientes."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Por que hay publicidad en mi cuenta?"|trans }}</h2>
        <p>{{"Para poder subvencionar los gastos que genera el mantenimiento de este programa de facturación."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Las facturas tiene valor legal?"|trans }}</h2>
        <p>{{"Las facturas generadas con el programa de gestión son sólo documentos. El valor legal se lo da la empresa o autónomo que crea las facturas."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Que es la cuenta premium?"|trans }}</h2>
        <p>{{"Los usuarios que decidan comprar el programa tendrán acceso a una cuenta premium libre de publicidad. Y con algunas ventajas adicionales."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Cuanto cuesta la cuenta premium?"|trans }}</h2>
        <p>{{"La cuenta premium de nuestro programa de facturación sólo cuesta 99€."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Cada cuanto tiempo hay que pagar por la cuenta premium?"|trans }}</h2>
        <p>{{"Sólo una vez y te dará acceso ilimitado para acceder al programa de facturación. No tendrás que volver a pagar."|trans }}</p>
    </div>

    <div class="faq">
        <h2>{{ "¿Cómo puedo pagar por la cuenta Premium?"|trans }}</h2>
        <p>{{"Puedes acceder a la cuenta Premium haciendo un pago único a través de PayPal."|trans }}</p>
    </div>

    <div class="background"></div>
</div>
{% endblock %}
