{% extends 'AlzWebBundle::layout.html.twig' %}

{% block title %}{{ "Programa de facturación"|trans }}{% endblock %}

{% block content %}
<div id="homepage">
    <div class="jumbotron">
      <h1>{{ "Programa de facturación"|trans }}</h1>
      <p>{{ "Registraste para empezar a usar nuestro programa de facturación gratis. Soluciona las necesidades de  pymes y autónomos. Genera la facturas que necesites online y desde cualquier dispositivo."|trans }}</p>
      <p><a class="btn btn-danger btn-lg" href="{{ path('alz_web_precios') }}" role="button">{{ "Registrate"|trans }}</a></p>
    </div>

    <div class="row">
      <div class="col-md-4">
          <h2>{{ "Gratis"|trans }}</h2>
          <p>{{ "Usar este programa de facturación es completamente gratuito. Solo necesitas registrarte para crear tu usuario y confirmar tu cuenta de correo electrónico, y accederás a un programa profesional que agilizará la facturación de tu negocio sin tener que gastar un euro."|trans }}</p>
      </div>
      <div class="col-md-4">
          <h2>{{ "Simple"|trans }}</h2>
          <p>{{ "Genera tu primera factura en menos de un minuto. No necesitarás ayuda de ningún experto. Este programa de facturación fue diseñado para que cualquiera pueda usarlo fácilmente. No es necesario tener ningún conocimiento previo en finanzas o en informática."|trans }}</p>
      </div>
      <div class="col-md-4">
          <h2>{{ "Completo"|trans }}</h2>
          <p>{{ "Todo lo que necesitas para hacer facturas está incluido en nuestra versión gratuita del programa de facturación: puedes personalizar tus facturas agregando el logotipo de tu empresa, generar facturas, descargarlas en PDF y enviarlas por email a tus clientes de manera rápida y sencilla. Regístrate y accede al programa de facturación para comprobarlo por ti mismo."|trans }}</p>
      </div>
      <div class="col-md-4">
          <h2>{{ "Cuenta Premium"|trans }}</h2>
          <p>{{ "Suma beneficios exclusivos a tu sistema de facturación con un pago único de 99€. Solo pagas una vez y accedes a una cuenta libre de publicidad, emisión ilimitada de facturas, usuarios ilimitados y acceso seguro. Si necesitas comenzar a emitir facturas en cantidad, pásate a la cuenta Premium y agiliza los procesos de facturación y registro de clientes."|trans }}</p>
      </div>
      <div class="col-md-4">
          <h2>{{ "Facturas en PDF"|trans }}</h2>
          <p>{{ "Enviar las facturas a tus clientes te costara solo un minuto. Ingresa los datos de tu cliente (o búscalo en el registro), carga el detalle de la factura y la cantidad, guarda y ¡listo! La factura estará lista para descargar en formato de PDF y ser enviada por email."|trans }}</p>
      </div>
      <div class="col-md-4">
          <h2>{{ "Práctico"|trans }}</h2>
          <p>{{ "Acompaña a tu negocio en el crecimiento. Simplifica los procesos. Gana tiempo y dinero. Mantén un registro ordenado y útil de tus clientes. Comienza a facturar de manera rápida y eficiente. Sisfacturacion.com te lo hace fácil. ¡Pruébalo gratis!"|trans }}</p>
      </div>
    </div>

    <div class="page-header">
      <h3>{{ "Vuestra opinión"|trans }} <small>{{ "Nuestros usuarios"|trans }}</small></h3>
    </div>

    <div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
            {{ "Trabajo con mi hermano realizando trabajos de pintura para particulares. Creo las facturas con el ordenador y luego puedo acceder a ellas desde mi móvil. El mejor programa que he utilizado."|trans }}
            </div>
            <div class="panel-footer text-right">Oscar Paredes <small>{{ "Pintor"|trans }}</small></div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
            {{ "Al principio necesitamos algo gratuito para gestionar nuestras facturas, esta aplicación fue la que mejor se adaptada a nosotras. Ahora se la recomiendo a mis clientes."|trans }}
            </div>
            <div class="panel-footer text-right">Maite Egiluz <small>{{ "Consultora marketing Online"|trans }}</small></div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
            {{ "Muy simple, no necesito más."|trans }}
            </div>
            <div class="panel-footer text-right">Juan Pérez <small>{{ "Electricista autónomo"|trans }}</small></div>
        </div>
    </div>
</div>

<div class="background"></div>
</div>
{% endblock %}
