{% extends 'AlzWebBundle::layout.html.twig' %}

{% block title %}{{ "Precios del programa de facturación"|trans }}{% endblock %}

{% block content %}
<div id="precios">
    <div class="page-header">
      <h1>{{ "Tabla de precios"|trans }}</h1>
    </div>

    <p class="lead">{{ "En Sisfacturacion, desarrollamos dos tipos de cuentas para satisfacer las distintas necesidades de nuestros clientes."|trans }}</p>
    <p class="lead">{{ "Si eres un autónomo o estás comenzando una pequeña empresa, puedes acceder a nuestra cuenta gratuita, que te otorgará todas las herramientas necesarias para emitir y enviar a tus clientes facturas personalizadas con un solo clic."|trans }}</p>
    <p class="lead">{{ "Si tu negocio está creciendo y necesitas emitir una gran cantidad de facturas al año, tu mejor opción es nuestra cuenta Premium, que por un pago único de 99€ te ofrece un paquete de beneficios exclusivos por tiempo ilimitado."|trans }}</p>
    <p class="lead">{{ "En la siguiente tabla puedes comparar las características principales de cada tipo de cuenta."|trans }}</p>

<div class="rows">
    <div class="hidden-xs col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td></td>
                <th class="text-center">{{ "Gratis"|trans }}</th>
                <th class="text-center">{{ "Premium"|trans }}</th>
            </tr>
            <tr>
                <td>{{ "Limite facturas"|trans }}</td>
                <td class="text-center">{{ "30/año"|trans }}</span></td>
                <td class="text-center">{{ "Sin limite"|trans }}</td>
            </tr>
            <tr>
                <td>{{ "Factura descargable en PDF"|trans }}</td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td>{{ "Numeración correlativa"|trans }}</td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td>{{ "Gestión de clientes"|trans }}</td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td>{{ "Usuario ilimitados"|trans }}</td>
                <td class="text-center"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td>{{ "Acceso seguro"|trans }}</td>
                <td class="text-center"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
            </tr>
            {#
            <tr>
                <td>{{ "Https"|trans }}</td>
                <td class="text-center"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
            </tr>
            #}
            <tr>
                <td>{{ "Sin publicidad"|trans }}</td>
                <td class="text-center"><span class="glyphicon glyphicon-remove red" aria-hidden="true"></span></td>
                <td class="text-center"><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span></td>
            </tr>
            <tr>
                <td></td>
                <th class="text-center"><a class="btn btn-danger" href="{{ path('fos_user_registration_register') }}" role="button">{{ "Registrate gratis"|trans }}</a></th>
                <th class="text-center"><a class="btn btn-danger" href="{{ path('alz_web_to_premium') }}" role="button">{{ "Comprar por 99€"|trans }}</a></th>
            </tr>
        </table>
    </div>
    <div class="hidden-xs col-md-2"></div>

</div>
    <div class="background"></div>
</div>
{% endblock %}
