<pdf Author="{{ factura.empresa.nombre }}" Title="{{ filename }}">
    <dynamic-page>
        <placeholders>
            <footer>
                <div height="20px" width="100%">
                    {% if factura.informacion %}
                    <div font-size="11px" font-style="bold">{% trans %}Información{% endtrans %}</div>
                    <div>{{ factura.informacion }}</div>
                    {% endif %}
                </div>
            </footer>
        </placeholders>

        <div>
            {% if logo %}
            <div style="float: left; width: 50%;">
                <img src="{{ logo }}" />
            </div>
            
            <div style="float: right; width: 50%; text-align: right;">
            {% else %}
            <div>
            {% endif %}
                <div style="font-size:26px;font-style:bold;">{{ factura.empresa.nombre }}</div>
                <div style="font-size: 12px">
                    {% if factura.empresa.telefono %}
                    {% trans %}Telf{% endtrans %}: {{ factura.empresa.telefono }}<br/>
                    {% endif %}
                    {% if factura.empresa.email %}
                    {% trans %}E-mail{% endtrans %}: {{ factura.empresa.email }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div style="height: 50px;"></div>

        <div style="float:left; width: 200px;">
            {{ factura.empresainfo|nl2br }}
        </div>

        <div style="float:right;text-align:right; width: 200px;">
            {{ factura.clienteinfo|nl2br }}
        </div>

        <div style="height: 50px;"></div>

        <div>
            <div style="width: 40%; float:left;">
                <span style="font-size: 10px;">{% trans %}Número factura{% endtrans %}</span><br/>
                {{ factura.numero }}
            </div>

            <div style="width: 40%; float:rigth;text-align:right;">
                <span style="font-size: 10px;">{% trans %}Fecha{% endtrans %}</span><br/>
                {{ factura.fecha|date("d/m/Y") }}</div>
        </div>

        <div style="height: 10px;"></div>

        <table>
            <tr style="font-size: 9px;">
                <td width="330px" style="padding: 5px;" border.color="#cccccc" background.color="#eeeeee" border.size="0.2px">{% trans %}Concepto{% endtrans %}</td>
                <td style="padding: 5px;" border.color="#cccccc" background.color="#eeeeee" border.size="0.2px">{% trans %}Precio{% endtrans %} €</td>
                <td style="padding: 5px;" border.color="#cccccc" background.color="#eeeeee" border.size="0.2px">{% trans %}Cantidad{% endtrans %}</td>
                <td style="padding: 5px;" border.color="#cccccc" background.color="#eeeeee" border.size="0.2px">{% trans %}Total{% endtrans %} €</td>
                <td style="padding: 5px;" border.color="#cccccc" background.color="#eeeeee" border.size="0.2px">{% trans %}IVA{% endtrans %} %</td>
                <td style="padding: 5px;" border.color="#cccccc" background.color="#eeeeee" border.size="0.2px">{% trans %}Total con IVA{% endtrans %} €</td>
            </tr>
            {% for concepto in factura.conceptos %}
            <tr style="font-size: 10px;">
                <td style="padding: 5px;" border.color="#cccccc" border.size="0.2px">{{ concepto.nombre }}</td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px">{{ concepto.precio|number_format(2, ',', '.') }} €</td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px">{{ concepto.cantidad }}</td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px">{{ concepto.total|number_format(2, ',', '.') }} €</td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px">{{ concepto.iva }} %</td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px">{{ concepto.totaliva|number_format(2, ',', '.') }} €</td>
            </tr>
            {% endfor %}
            {% for i in 1..conceptosextra %}
            <tr style="font-size: 10px;color:white;">
                <td style="padding: 5px;" border.color="#cccccc" border.size="0.2px"> - </td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px"> </td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px"> </td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px"> </td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px"> </td>
                <td text-align="right" style="padding: 5px;" border.color="#cccccc" border.size="0.2px"> </td>
            </tr>
            {% endfor %}
            <tr style="font-size: 10px;">
                <td border.type="none"></td>
                <td border.type="none"></td>
                <td text-align="right" style="padding: 5px;font-size: 9px;" border.type="none">{% trans %}Total{% endtrans %}</td>
                <td text-align="right" style="padding: 5px;font-style:bold;" border.color="#cccccc" border.size="0.2px">{{ factura.total|number_format(2, ',', '.') }} €</td>
                <td text-align="right" style="padding: 5px;font-size: 9px;" border.type="none">{% trans %}Total con IVA{% endtrans %}</td>
                <td text-align="right" style="padding: 5px;font-style:bold;" border.color="#cccccc" border.size="0.2px">{{ factura.totaliva|number_format(2, ',', '.') }} €</td>
            </tr>
      </table>

    </dynamic-page>
</pdf>
