{% extends 'AlzAppBundle::layout.html.twig' %}

{% set formatoangular = empresa.monedaformato|monedaformatoangular(empresa.monedatipo) %}

{% block title %}{{ "Crear facturas"|trans }}{% endblock %}

{% block javascripts %}
<script>
var apiurlconceptos = "{{ path('alz_app_api_facturaconceptos_get') }}?facturaid={{ factura.id }}";
var apiurlconcepto = "{{ path('alz_app_api_facturaconcepto_put') }}";
var apiurlclientes = "{{ path('alz_app_api_clientes_get') }}";
var apiurlcliente = "{{ path('alz_app_api_cliente_get') }}";
var apiurlfactura = "{{ path('alz_app_api_factura_put') }}";
var factura_id = {{ factura.id }};
</script>

{{ parent() }}
{% endblock %}

{% block content %}
<div class="btn-group pull-right" role="group" aria-label="">
  <a type="button" class="btn btn-default" href="{{ path('alz_app_factura_listado') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ "Listado de facturas"|trans }}</a>
</div>

<div class="page-header">
    <h1>{{ "Factura"|trans }}</h1>
</div>

<div ng-controller="FacturaController as factura">

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'ng-submit': 'mainFormSubmit($event)'}}) }}

    {{ form_errors(form) }}

    <div class="rows">
        <div class="col-md-3">
            <label class="control-label required">{{ "Número"|trans }}</label>
            <div contentEditable="true" ng-change="numeroChange()" ng-model="factura.numero" title="{{ "Click para editar"|trans }}">{{ factura.numero }}</div>
        </div>

        <div class="col-md-6"></div>

        <div class="col-md-3 text-right">
            {{ form_widget(form.fecha) }}
            <label class="control-label required">{{ "Fecha"|trans }}</label>
            <div contentEditable="true" ng-model="factura.fecha" ng-change="fechaChange()" title="{{ "Click para editar"|trans }}">{{ factura.fecha|date('d/m/Y') }}</div>
        </div>
    </div>

    <div class="rows">
        <div class="col-md-12 table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ "Concepto"|trans }}</th>
                        <th class="text-center">{{ "Precio"|trans }}</th>
                        <th class="text-center">{{ "Cantidad"|trans }}</th>
                        <th class="text-center">{{ "IVA"|trans }}</th>
                        <th class="text-center">{{ "Total"|trans }}</th>
                        <th class="text-center">{{ "Total con IVA"|trans }}</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="concepto in conceptos">
                        <td>{% verbatim %}{{ concepto.nombre }}{% endverbatim %}</td>
                        <td align="right">{% verbatim %}{{{% endverbatim %} concepto.precio|sfcurrency{{ formatoangular }}  {% verbatim %}}}{% endverbatim %}</td>
                        <td align="right">{% verbatim %}{{ concepto.cantidad }}{% endverbatim %}</td>
                        <td align="right">{% verbatim %}{{ concepto.iva }}{% endverbatim %}</td>
                        <td align="right">{% verbatim %}{{{% endverbatim %} concepto.total|sfcurrency{{ formatoangular }}  {% verbatim %}}}{% endverbatim %}</td>
                        <td align="right">{% verbatim %}{{{% endverbatim %} concepto.totaliva|sfcurrency{{ formatoangular }}  {% verbatim %}}}{% endverbatim %}</td>
                        <td class="text-right">
                            <a ng-click="removeConcepto(concepto.id)" type="button" class="btn btn-danger btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-controller="ConceptoFormController" ng-form="FormConcepto">
                        <td><input ng-enter="addConcepto(concepto)" required ng-model="concepto.nombre" placeholder="{{ "Concepto"|trans }}" id="concepto" type="text"></td>
                        <td><input ng-enter="addConcepto(concepto)" required type="number" ng-model="concepto.precio" placeholder="{{ "Precio"|trans }}" id="precio"></td>
                        <td><input ng-enter="addConcepto(concepto)" required type="number" ng-model="concepto.cantidad" placeholder="{{ "Cantidad"|trans }}" id="cantidad"></td>
                        <td><input ng-enter="addConcepto(concepto)" required type="number" ng-model="concepto.iva" placeholder="{{ "IVA"|trans }}" id="iva"></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                            <button ng-click="addConcepto(concepto)" type="button" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td align="right">{% verbatim %}{{{% endverbatim %} factura.total|sfcurrency{{ formatoangular }}{% verbatim %}}}{% endverbatim %}</td>
                        <td align="right">{% verbatim %}{{{% endverbatim %} factura.totaliva|sfcurrency{{ formatoangular }} {% verbatim %}}}{% endverbatim %}</td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="rows">
        <div class="col-md-6">
            <div id="clienteSeleccionar">

                <label class="control-label required">{{ "Cliente"|trans }}</label><br>
                <div class="input-group">
                    <select ng-init="factura.cliente={% if factura.cliente %}{{ factura.cliente.id }}{% endif %}" class="form-control" ng-change="clienteChange()" ng-options="cliente.id as cliente.nombre for cliente in clientes" ng-model="factura.cliente"></select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="clienteNuevo()">{{ "Nuevo cliente"|trans }}</button>
                    </span>
                </div>

                <br>
                <div contentEditable="true" ng-change="clienteInfoChange()" ng-model="factura.clienteinfo" title="{{ "Click para editar"|trans }}">{{ factura.clienteinfo|raw|nl2br }}</div>
                <br>
            </div>

            <div ng-controller="ClienteFormController" ng-form="ClienteForm" id="clienteNuevo" class="form-horizontal">
                <h3>{{ "Crear cliente"|trans }}</h3>
                <div class="form-group">
                    <label for="cliente_nombre" class="col-sm-2 control-label">{{ "Nombre"|trans }}</label>
                    <div class="col-sm-10">
                        <input id="cliente_nombre" required ng-model="cliente.nombre" type="text" class="form-control" placeholder="{{ "Nombre"|trans }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente_cif" class="col-sm-2 control-label">{{ "CIF o NIF"|trans }}</label>
                    <div class="col-sm-10">
                        <input id="cliente_cif" required ng-model="cliente.cif" type="text" class="form-control" placeholder="{{ "CIF o NIF"|trans }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente_direccion1" class="col-sm-2 control-label">{{ "Dirección"|trans }}</label>
                    <div class="col-sm-10">
                        <input id="cliente_direccion1" required ng-model="cliente.direccion1" type="text" class="form-control" placeholder="{{ "Dirección"|trans }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente_cp" class="col-sm-2 control-label">{{ "CP"|trans }}</label>
                    <div class="col-sm-10">
                        <input id="cliente_cp" required ng-model="cliente.cp" type="text" class="form-control" placeholder="{{ "Código postal"|trans }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cliente_ciudad" class="col-sm-2 control-label">{{ "Ciudad"|trans }}</label>
                    <div class="col-sm-10">
                        <input id="cliente_ciudad" required ng-model="cliente.ciudad" type="text" class="form-control" placeholder="{{ "Ciudad"|trans }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" ng-click="clienteAdd()" class="btn btn-default">{{ "Añadir cliente"|trans }}</button>
                        <button type="button" ng-click="clienteNuevoCancelar()" class="btn btn-link">{{ "Cancelar"|trans }}</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-6 text-right">
            <label class="control-label required" for="alz_appbundle_factura_cliente">{{ "Empresa de facturación"|trans }}</label>
            <div contentEditable="true" ng-change="empresaChange()" ng-model="factura.empresainfo" title="{{ "Click para editar"|trans }}">{{ factura.empresainfo|raw|nl2br }}</div>
        </div>
    </div>

    <div class="rows">
        <div class="col-md-12">
            {{ form_row(form.informacion, { attr: { 'ng-model': 'factura.informacion', 'ng-init': 'factura.informacion="' ~ factura.informacion ~ '"'}}) }}
        </div>
    </div>

    <div class="rows">
        <div class="col-md-4">
            <a href="{{ path('alz_app_factura_eliminar', { id: factura.id }) }}" class="btn btn-link">{{ "Eliminar factura"|trans }}</a>
        </div>
        <div class="col-md-8 text-right">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk"></span> {{ "Guardar"|trans }}</button>
            <button type="submit" class="btn btn-danger" name="descargar"><span class="glyphicon glyphicon-cloud-download"></span> {{ "Desdargar factura"|trans }}</button>
        </div>
    </div>
{{ form_end(form) }}


</div>
{% endblock %}
