{% extends 'AlzAppBundle::layout.html.twig' %}

{% block title %}{{ "Listado de facturas"|trans }}{% endblock %}

{% block content %}
<div class="btn-group pull-right" role="group" aria-label="">
  <a type="button" class="btn btn-default" href="{{ path('alz_app_factura_nuevo') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ "Crear factura"|trans }}</a>
</div>

<div class="page-header">
    <h1>{{ "Facturas"|trans }}</h1>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ "Número factura"|trans }}</th>
                <th>{{ "Fecha"|trans }}</th>
                <th>{{ "Cliente"|trans }}</th>
                <th>{{ "Total"|trans }}</th>
                <th>{{ "Total con IVA"|trans }}</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td><a href="{{ path('alz_app_factura_ver', { id: factura.id }) }}">{{ factura.numero }}</a></td>
                <td>{{ factura.fecha|date("m/d/Y") }}</td>
                <td>{% if factura.cliente %}{{ factura.cliente.nombre }}{% endif %}</td>
                <td class="text-right">{{ factura.total|monedaformato(empresa.monedaformato, empresa.monedatipo) }}</td>
                <td class="text-right">{{ factura.totaliva|monedaformato(empresa.monedaformato, empresa.monedatipo) }}</td>
                <td>
                    <div class="btn-group btn-group-xs pull-right" role="group">
                        <a href="{{ path('alz_app_factura_editar', { id: factura.id }) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {{ "Editar"|trans }}</a>
                        <a href="{{ path('alz_app_factura_descargar', { id: factura.id }) }}" class="btn btn-danger"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> {{ "Descargar"|trans }}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{{ knp_pagination_render(facturas) }}
{% endblock %}
