{% extends 'AlzAppBundle::layout.html.twig' %}

{% block title %}{{ "Listado de facturas"|trans }}{% endblock %}

{% block content %}
<div class="btn-group pull-right" role="group" aria-label="">
  <a type="button" class="btn btn-default" href="{{ path('alz_app_factura_nuevo') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ "Crear factura"|trans }}</a>
</div>

<div class="page-header">
    <h1>{{ "Facturas"|trans }}</h1>
</div>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ "Número factura"|trans }}</th>
                <th>{{ "Fecha"|trans }}</th>
                <th>{{ "Cliente"|trans }}</th>
                <th>{{ "Total"|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td><a href="{{ path('alz_app_factura_ver', { id: factura.id }) }}">{{ factura.numero }}</a></td>
                <td>{{ factura.fecha|date("m/d/Y") }}</td>
                <td>{# factura.cliente.nombre #}</td>
                <td>{{ factura.totaliva|number_format(2, ',', '.') }} €</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}
