{% extends 'AlzAppBundle::layout.html.twig' %}

{% block title %}{{ "Factura"|trans }}{% endblock %}

{% block content %}
<div class="btn-group pull-right" role="group" aria-label="">
  <a type="button" class="btn btn-default" href="{{ path('alz_app_factura_listado') }}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ "Listado de facturas"|trans }}</a>
</div>

<div class="page-header">
    <h1>{{ "Factura"|trans }}</h1>
</div>

<dl class="dl-horizontal">
    <dt>{{ "Número factura"|trans }}</dt>
    <dd>{{ factura.numero }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>{{ "Fecha"|trans }}</dt>
    <dd>{{ factura.fecha|date("d/m/Y") }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>{{ "Total"|trans }}</dt>
    <dd>{{ factura.total|monedaformato(empresa.monedaformato, empresa.monedatipo) }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>{{ "Total con IVA"|trans }}</dt> 
    <dd>{{ factura.totaliva|monedaformato(empresa.monedaformato, empresa.monedatipo) }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>{{ "Empresa"|trans }}</dt>
    <dd>{{ factura.empresainfo|nl2br }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>{{ "Cliente"|trans }}</dt>
    <dd>{{ factura.clienteinfo|nl2br }}</dd>
</dl>
</dl>
<dl class="dl-horizontal">
    <dt>{{ "Conpeptos"|trans }}</dt>
    <dd>
    {% for concepto in conceptos %}
    {{ concepto.nombre }} {{ concepto.totaliva|monedaformato(empresa.monedaformato, empresa.monedatipo) }}<br>
    {% endfor %}
    </dd>
</dl>
<div class="pull-right">
  <a type="button" class="btn btn-link" href="{{ path('alz_app_factura_editar', { id: factura.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {{ "Editar factura"|trans }}</a>
  <a type="button" class="btn btn-danger" href="{{ path('alz_app_factura_descargar', { id: factura.id }) }}"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> {{ "Descargar en PDF"|trans }}</a>
</div>
{% endblock %}

