{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="{{ asset('bootstrap/javascripts/web.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <nav id="menumain" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ "Mostrar menú"|trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('alz_web_homepage') }}">
                    <img alt="SisFacturacion.com" height="50px" src="{{ asset("images/logo.png") }}">
                </a>
            </div>

            <form action="{{ path('alz_app_homepage') }}">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('alz_web_hacer_facturas') }}">{{ "Programa de facturación"|trans }}</a></li>
                    <li><a href="{{ path('alz_web_faqs') }}">{{ "Preguntas frecuentes"|trans }}</a></li>
                    <li><a href="{{ path('alz_web_precios') }}">{{ "Precios"|trans }}</a></li>
                    <li><button type="submit" class="btn btn-danger navbar-btn">App</button></li>
                </ul>
            </div>
            </form>

        </div>
    </nav>

    {% block content %}{% endblock %}
</div>
{% endblock %}
