{% extends 'AlzAppBundle::layout.html.twig' %}

{% block title %}{{ "Cliente"|trans }}{% endblock %}

{% block content %}
<div class="btn-group pull-right" role="group">
    <a href="{{ path('alz_app_cliente_listado') }}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> {{ "Listado de clientes"|trans }}</a>
</div>

<div class="page-header">
    {% if nuevo %}
    <h1>{{ "Nuevo cliente"|trans }}</h1>
    {% else %}
    <h1>{{ "Editar cliente"|trans }}</h1>
    {% endif %}
</div>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_errors(form) }}

    <div class="rows">
        <div class="col-md-8">
            {{ form_row(form.nombre) }}
        </div>

        <div class="col-md-4">
            {{ form_row(form.cif) }}
        </div>

        <div class="col-md-12">
            {{ form_row(form.direccion1) }}
        </div>

        <div class="col-md-5">
            {{ form_row(form.region) }}
        </div>

        <div class="col-md-5">
            {{ form_row(form.ciudad) }}
        </div>

        <div class="col-md-2">
            {{ form_row(form.cp) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.telefono) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.fax) }}
        </div>

        <div class="col-md-12">
            {{ form_row(form.email) }}
        </div>

        <div class="col-md-12">
            <div class="form-group pull-right">
                {% if nuevo %}
                <button type="submit" class="btn btn-danger">{{ "Crear nuevo cliente"|trans }}</button>
                {% else %}
                <button type="submit" class="btn btn-danger">{{ "Guardar"|trans }}</button>
                {% endif %}
            </div>
        </div>
    </div>

{{ form_end(form) }}
{% endblock %}
